{% extends "albergue/base.html" %}

{% block title %}Lista de Mascotas{% endblock %}

{% block content %}
<h1>Mis Mascotas</h1>
<div class="d-flex justify-content-end mb-3">
    <a href="{% url 'crear_mascota' %}?correo={{ correo }}" class="btn btn-primary">Añadir Mascota</a>
</div>
{% if mascotas %}
<div class="row">
    {% for mascota in mascotas %}
    <div class="col-md-4">
        <div class="card mb-4">
            <img src="{{ mascota.imagen.url }}" class="card-img-top" alt="{{ mascota.nombre }}">
            <div class="card-body">
                <h5 class="card-title">{{ mascota.nombre }}</h5>
                <p class="card-text">Raza: {{ mascota.raza }}</p>
                <p class="card-text">Edad: {{ mascota.edad }} años</p>
                <a href="{% url 'actualizar_mascota' id_perro=mascota.id_perro %}?correo={{ correo }}">Editar</a>

                <a href="{% url 'eliminar_mascota' id_perro=mascota.id_perro %}?correo={{ correo }}" class="btn btn-danger">
                    Eliminar
                </a>
                
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% else %}
<p>No tienes mascotas registradas. <a href="{% url 'crear_mascota' %}?correo={{ correo }}">¡Añade tu primera mascota!</a></p>
{% endif %}
{% endblock %}
